@import './variables.css';
@import './fonts/fonts.css';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto-Light', 'Roboto-Bold', 'RubikMonoOne', sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  overflow-x: hidden;
  perspective: 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1,
h2,
h3,
h4 {
  font-family: 'RubikMonoOne';
  text-transform: uppercase;
}

.body_benefit > h2 {
  font-size: 2vw;
  margin-bottom: 1.823vw;
  font-weight: 400;
}

.body_benefit li {
  margin: 0 0 0 10px;
}

.body_benefit ul {
  padding: 0;
}

.body_benefit {
  font-size: 1.25vw;
  max-width: 15vw;
}

.black-line {
  width: 2.083vw;
  height: 0.208vw;
  background-color: var(--black);
  margin: 0 0.347vw 0.347vw;
  writing-mode: vertical-lr;
}

.play-btn-rightside {
  width: 4.514vw;
}

@media (max-width: 769px) {
  .black-line {
    height: 1px;
  }

  .body_benefit li {
    margin: 0 0 0 1.379vw;
  }
}

@media (max-width: 426px) {
  .play-btn-rightside {
    width: 8vw;
  }
}
