@import '../../../resources/variables.css';

.body {
  width: 100vw;
}

.body_video-block {
  position: relative;
  margin-top: 3.4vw;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.body_play-btn {
  position: absolute;
  top: 40%;
  left: 15%;
  z-index: 10;
  width: 4.514vw;
}

.design {
  margin-left: 5.208vw;
}

.design_video2 {
  width: 39vw;
}

.design h2 {
  margin-top: 4.167vw;
}

.color {
  position: absolute;
  top: 50%;
  right: 20%;
}

.color-choose ul {
  display: flex;
  flex-direction: row;
  margin: 3.125vw 0 1.563vw;
}

.color-item {
  width: 1.458vw;
  height: 1.458vw;
  border-radius: 50%;
}

.yellow {
  background-color: #e2e837;
}
.blue {
  background-color: #00b6f1;
}
.red {
  background-color: #e23232;
}
.gray {
  background-color: #f0efef;
}
.black {
  background-color: #0c0c0c;
}

.bike-image {
  position: absolute;
  right: 0;
  width: 19.479vw;
}

.benefit_side-corner-arrow {
  position: absolute;
  top: 1.042vw;
  width: 2px;
  height: 21.85vh;
  background-color: var(--gray);
  left: -2.083vw;
}

.benefit_side-corner-arrow::before {
  content: '';
  transform: translate(-25%, 0%);
  background-color: var(--gray);
  position: absolute;
  bottom: 0;
  width: 4px;
  height: 4px;
}

.benefit_side-corner-arrow::after {
  content: '';
  transform: translate(50%, -50%) rotate(90deg);
  background-color: var(--gray);
  position: absolute;
  top: 0;
  left: 10px;
  width: 1px;
  height: 20px;
}

.modes {
  height: 120vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 10.417vw;
}

.modes_img {
  width: 55.729vw;
}
.modes_video {
  position: relative;
}
.modes-video_side-block {
  position: absolute;
  bottom: 10%;
  right: 53.646vw;
  display: flex;
  flex-direction: row-reverse;
}
.modes-video_side-block p {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg) translate(-40%, 50%);
  height: 20px;
  max-width: 65px;
  font-size: 12px;
  margin: 0;
  letter-spacing: 1px;
  position: relative;
  font-family: 'Roboto-Bold';
  text-transform: uppercase;
  position: relative;
}

.modes-video_arrow-corner {
  width: 16.667vw;
  height: 2px;
  background-color: var(--gray);
  position: absolute;
  top: 25%;
  left: 121%;
}

.modes-video_arrow-corner::before {
  content: '';
  transform: translate(-25%, 0%);
  background-color: var(--gray);
  position: absolute;
  top: -1px;
  width: 4px;
  height: 4px;
}

.modes-video_arrow-corner::after {
  content: '';
  background-color: var(--gray);
  position: absolute;
  width: 1px;
  height: 13.194vw;
  top: -13.056vw;
  left: 100%;
}

.modes > .body_benefit {
  margin-right: 13.021vw;
}

.speeds {
  display: flex;
  flex-direction: row;
  width: 150%;
  justify-content: space-between;
  margin-top: 2.604vw;
}

.speeds h1 {
  color: #3a30f8;
  font-size: 3.125vw;
  letter-spacing: -0.347vw;
  font-weight: 700;
  text-transform: lowercase;
}

.speeds h3 {
  padding-right: 1.7vw;
  text-align: end;
  color: #3a30f8;
}

@media (max-width: 769px) {
  .benefit_side-corner-arrow {
    width: 1px;
    left: -3.448vw;
  }

  .benefit_side-corner-arrow::before {
    width: 2px;
    height: 2px;
  }

  .modes {
    height: 90vh;
  }

  .modes > .body_benefit {
    margin: 25.931vw;
  }

  .modes-video_arrow-corner {
    height: 1px;
    width: 44.828vw;
  }

  .modes-video_arrow-corner::before {
    width: 2px;
    height: 2px;
  }
}

@media (max-width: 426px) {
  .color {
    position: absolute;
    top: 76%;
    right: 38%;
  }

  .benefit_side-corner-arrow {
    left: -5.882vw;
  }

  .body_play-btn {
    transform: translate(32vw, -9.412vw);
  }

  .body_video-block {
    transform: translate(25%, 30%) scale(1.5);
    align-items: flex-start;
  }

  .design h2 {
    margin-top: 0;
  }

  .modes > .body_benefit {
    transform: translate(30%, -78%) scale(1.5);
    margin: 25.931vw;
  }

  .modes-video_arrow-corner {
    width: 41vw;
  }

  .modes-video_arrow-corner {
    top: 100%;
  }
}
