@import '../../../resources/variables.css';

.footer {
  width: 100vw;
  height: 70vh;
  font-size: 20px;
  background: center / cover no-repeat url(../../../resources/img/footerBck.png);
  position: relative;
  color: var(--white);
  padding: 100px 0 0 340px;
}

.footer-img {
  width: 1170px;
  position: absolute;
  right: 0;
  top: -15%;
  z-index: 1;
}

.footer-gear {
  height: 100%;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-brand {
  position: absolute;
  bottom: 15%;
  opacity: 0.5;
  left: 40%;
  z-index: 10;
  text-align: right;
  font-size: 80px;
  margin: 0;
  line-height: 128px;
}

.footer-text {
  width: 340px;
}

.footer-text h3 {
  font-weight: 100;
  margin-bottom: 80px;
}

.footer-text p {
  margin-bottom: 30px;
  line-height: 23px;
}

.footer-text div {
  margin-top: 100px;
}

.footer-text a {
  color: var(--blue);
  text-transform: uppercase;
  font-family: 'RubikMonoOne';
  font-weight: 100;
  padding: 18px 45px;
  font-size: 16px;
  z-index: 10;
  background: center / contain no-repeat url(../../../resources/img/elips.png);
}
