@import '../../../resources/variables.css';

.main {
  width: 100vw;
  height: 52vw;
  position: relative;
  display: flex;
  align-items: center;
}

.main h1 {
  font-size: 4.167vw;
  letter-spacing: 0.313vw;
}

.main p {
  font-size: 1.042vw;
  font-family: 'Roboto-Bold';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-video {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.video-content {
  width: 56.042vw;
}

.video_side-block {
  position: absolute;
  top: 10%;
  left: -9%;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.video_side-block p {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg) translate(-2.292vw, 0.417vw);
  height: 1.042vw;
  max-width: 3.385vw;
  font-size: 0.625vw;
  margin: 0;
  letter-spacing: 1px;
  position: relative;
}

.video_side-block_corner-arrow {
  position: absolute;
  top: 0;
  left: -5.903vw;
  width: 2px;
  height: 17.6vh;
  transform: translate(0%, -47%) rotate(90deg);
  background-color: var(--gray);
}

.video_side-block_corner-arrow::before {
  content: '';
  transform: translate(-25%, 0%);
  background-color: var(--gray);
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
}

.video_side-block_corner-arrow::after {
  content: '';
  transform: translate(-25%, 45%) rotate(90deg);
  background-color: var(--gray);
  position: absolute;
  bottom: 0;
  left: -9px;
  width: 1px;
  height: 20px;
}

.main-title {
  margin-left: 19.479vw;
  position: relative;
}

.main-title_arrow-down {
  position: absolute;
  bottom: -50%;
  animation: arrow-down-slider 3s 5s infinite ease-in-out;
}

@keyframes arrow-down-slider {
  from {
    bottom: -50%;
    opacity: 0.2;
  }
  to {
    bottom: -60%;
    opacity: 1;
  }
}

@media (max-width: 769px) {
  .main-title {
    margin-left: 3vw;
  }

  .video_side-block p {
    font-size: 6px;
  }

  .video_side-block_corner-arrow {
    width: 1px;
    height: 9.31vw;
    transform: translate(0, -4.241vw) rotate(90deg);
  }

  .video_side-block_corner-arrow::before {
    width: 2px;
    height: 2px;
  }

  .video-content {
    width: 65.2vw;
  }

  .main-title_arrow-down {
    display: none;
  }
}

@media (max-width: 426px) {
  .main h1 {
    font-size: 6.167vw;
  }

  .main p {
    font-size: 2.042vw;
  }

  .video_side-block {
    left: -11%;
  }

  .video_side-block p {
    transform: rotate(-90deg) translate(-7.059vw, -3.294vw);
  }

  .video_side-block_corner-arrow {
    display: none;
  }

  .main-title {
    margin: 24.647vw 0 0 1vw;
  }
}
