@import '../../resources/variables.css';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
  padding: 1.563vw 0;
}

.logo {
  height: 1.979vw;
}

.navbar-link:not(:last-child) {
  margin-right: 3.646vw;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

.navbar li {
  position: relative;
  font-family: 'Roboto-Bold';
}

.isActive::before {
  content: '';
  width: 20px;
  height: 2px;
  background-color: var(--blue);
  position: absolute;
  top: 100%;
  left: -10%;
}

@media (max-width: 769px) {
  .navbar {
    font-size: 1.432vw;
  }
}

@media (max-width: 426px) {
  .navbar {
    font-size: 2.588vw;
  }
  .logo {
    height: 3.059vw;
  }
}
